@import "colors";

.menu {
  position: fixed;
  z-index: 10;
  color: $text-color;
  display: block;
  width: 100%;
  font-family: monospace;
  border-bottom: 1px solid $border-node-color;
  background-color: black;

  .logo {
    padding: 0 5px;
    background-color: $text-color;
    color: black;
  }

  .menu-item {
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
  }
}
