@import "colors";

body {
  overflow: hidden;
}

.app {
  svg {
    position: absolute;
    height: 1000px;
  }

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.node {
  position: absolute;
  border: 1px solid $border-node-color;
  border-radius: 5px;
  background-color: #393939;
  width: 200px;
  color: $text-color;

  &:hover {
    border: 1px solid $hover-color;
  }

  &.isStart .node-header {
    background-color: #bebebe;
    color: black;
  }

  .node-header {
    cursor: default;
    user-select: none;
    font-weight: 700;
    padding-left: 10px;
    height: 25px;
    display: flex;
    border-bottom: 1px solid $border-node-color;
    font-family: monospace;

    .title {
      line-height: 25px;
      flex: 1;
    }

    .node-delete {
      width: 29px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      cursor: pointer;

      &:hover {
        color: $hover-color;
      }
    }
  }

  .text {
    min-height: 90px;
    padding: 8px;
    border-bottom: 1px solid black;

    &:focus {
      outline: none;
    }
  }

  .text[contentEditable=true]:empty:not(:focus)::before{
    content:attr(data-placeholder)
  }

  .options {
    padding: 5px 8px;
    border-bottom: 1px solid $border-node-color;

    &:empty {
      border: none;
      padding: 0;
    }

    .answer {
      display: flex;
      position: relative;
      font-family: monospace;

      .answer-text {
        flex: 1;
        cursor: default;
        //outline: none;
        &:focus {
          //border: 1px solid #60606040;
          border-radius: 2px;
          background-color: #60606040;
          outline: 0;
        }

        &[contentEditable=true]:empty:not(:focus)::before{
          content:attr(data-placeholder);
          pointer-events: none;
        }

        &:hover {
          text-decoration: underline;
          text-decoration-style: dotted;
          text-decoration-color: rgba(73, 239, 241, 0.32);
        }
      }

      .answer-remove {
        width: 10px;
        cursor: pointer;
      }
    }
  }

  .option-title {
    padding: 5px 8px;
    text-align: center;
    font-family: monospace;
    cursor: pointer;
  }

  .pin-node {
    position: absolute;
    top: 43%;
    left: -5px;
    background-color: #f3cbf2;
  }

  .pin-answer {
    position: absolute;
    top: 7px;
    right: -12px;
    background-color: #8be1e7;
  }
}

.pin {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
