@import "colors";

svg {
  user-select: none;

  &.hidden {
    display: none;
  }

  linearGradient {
    stop[offset="0"] {
      stop-color: #8be1e7;
    }

    stop[offset="1"] {
      stop-color: #f3cbf2;
    }
  }

  .line {
    stroke-width: 2
  }

  .remove-link {
    &:hover {
      stroke:  $hover-color;
    }

    circle {
      r: 7;
      fill: #393939;
      fill-opacity: 0.7;
    }

    text {
      cursor: pointer;
      fill: $text-color;
      stroke-width: 0;
    }
  }
}