<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-0 mr-md-6">
        <li class="nav-item active">
            <a class="nav-link" href="#">Мои игры<span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <a href="{{ path('create_game_form') }}" class="btn ml-md-auto">Создать игру</a>
</nav>