// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

@import "~bootstrap/scss/bootstrap";


body {
    font-family: sans-serif;
    background: -webkit-linear-gradient(45deg,#ddc9b9,#daf0f2);
    transform-style: preserve-3d;
}


