<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div>{{ text }}</div>

    {% for user in texts %}


        <div><a href="{{ path('game', {'gameId': user.id}) }}">{{ user.name }}</a></div>
    {% endfor %}

</body>
</html>
