<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div>{{ text }}</div>

    {% for user in texts %}

        <div>{{ user.name }}</div>

    {% endfor %}

</body>
</html>
