{% extends "@web/base.html.twig" %}

{% block title %}Game{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('graph_css') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('graph') }}
{% endblock %}

{% block content %}
    <div class="graph" data-url="{{ path('graph_game', {'gameId': game.id}) }}"></div>

    <div class="modal question-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редатировать вопрос #<span id="modal-question-id"></span></h5>
                    <button type="button" class="close action-close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea id="modal-question-text"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary action-close">Закрыть</button>
                    <button type="button" class="btn btn-primary action-save">Сохранить</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal answer-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редатировать ответ  #<span id="modal-answer-id"></span></h5>
                    <button type="button" class="close action-close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea id="modal-answer-text"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary action-close">Закрыть</button>
                    <button type="button" class="btn btn-primary action-save">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/template" id="node-template">
        <div class="node detached" id="<%-id%>" style="top: <%-position.y%>px; left: <%-position.x%>px;" data-view-id="<%-viewId%>">
            <div class="title">Node</div>
            <div class="text"><%-text%></div>
            <div class="options">
                <% answers.forEach(function(answer) { %>
                    <div contenteditable="true" data-id="<%-answer.id%>" data-view-id="<%-answersViewIds.get(answer.id)%>"><%-answer.text%></div>
                <% }) %>
            </div>
            <div class="option-title">Добавить</div>
            </div>
    </script>
{% endblock %}


