{% extends "@web/base.html.twig" %}

{% block title %}Game{% endblock %}

{% block content %}
    <h2>{{ game.name }}</h2>
    <ul>
    {% for script in scripts %}
        <div>
            <p>{{script.text}}</p>
        </div>
    {% endfor %}
    </ul>

    <div class="navigation">
        {{ knp_pagination_render(scripts) }}
    </div>


    <a href="#" class="btn btn-success ml-5 mb-3" role="button">Добавить сценарий</a>

{% endblock %}


