{% extends "@web/base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('landing_css') }}
{% endblock %}

{% block title %}BotStory - диалоговый редактор для мессенджеров{% endblock %}

{% block content %}
    <h1>StoryBot</h1>
    <h2>Диалоговый редактор для мессенджеров</h2>
    <a href="mailto:stepan.franchuk@yandex.ru">stepan.franchuk@yandex.ru</a>
    <div></div>
    <div></div>
    <div></div>
{% endblock %}
